{% extends "base.html" %}
    {% block content %}
      {% if user.is_authenticated %}
          <p> Welcome {{ user.username }}</p>

          {% if latest_category_list %}
          <ul>
          {% for category in latest_category_list %}
           <li><a href="{% url 'details' category.id %}">{{ category.cat_name }}</a> </li>
          {% endfor %}
          </ul>
          {% else %}
          <p>No categories are available.</p>
          {% endif %}
          <a href="{% url 'logout' %}">logout</a>


      {% else %}
          <p>Welcome Frog</p>
          <a href="{% url 'login' %}">login</a> / <a href="{% url 'register' %}">signup</a>
      {% endif %}
    {% endblock %}